* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-image: url('../image/Lights_In_The_Night_(155818849).jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBoard {
    height: 500px;
    width: 650px; 
    background-color: #270207;
    border: 10px solid rgb(6, 253, 253);
    border-radius: 0%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

div {
    background-color: rgb(252, 252, 243);
    border: 1px solid black;
    border-radius: 80px;
    display: grid;
    padding: 10px;
}
   
h1 {
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(187, 255, 0);    
    padding: 50px;
}

h2 {
    font-size: 25px;
    padding: 5px;
    color: brown;


}

button {
    background-color: green;
    color: aqua;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;


}